
    <div class="about_box">
      <img src="img/About/about_bg.svg" alt="" srcset="" />
      <img class="about_hanging_1" src="img/About/about_hanging.svg" alt="" srcset="" />
      <h1 class="about_heading">About Us</h1>
      <img class="about_hanging_2" src="img/About/about_hanging.svg" alt="" srcset="" />
      <br />
      <hr class="about_underline" />
      <br /><br /><br /><br /><br />
      <div class="about_rangoli">
        <img
          class="about_rangoli_1"
          src="img/About/about_rangoli.svg"
          alt=""
          srcset="" 
        />
        <img
          class="about_rangoli_2"
          src="img/About/about_rangoli.svg"
          alt=""
          srcset=""
        />
      </div>
      <div class="about_text_box">
        <p class="about_text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          autem magni aperiam, architecto distinctio ut soluta in tempore
          obcaecati explicabo, sint dignissimos a! <br /><br />
          Et laudantium eius neque voluptas nihil similique, minima earum modi?
          Repellendus cum neque repellat minus quia repudiandae eveniet eum
          recusandae omnis, dicta numquam doloribus asperiores rem quis.
        </p>
      </div>
    </div>