<div class="about_box">
  <img src="img/About/about_bg.svg" alt="" srcset="" />
  <img
    class="about_hanging_1"
    src="img/About/about_hanging.svg"
    alt=""
    srcset=""
  />
  <h1 class="about_heading">About Us</h1>
  <img
    class="about_hanging_2"
    src="img/About/about_hanging.svg"
    alt=""
    srcset=""
  />
  <br />
  <hr class="about_underline" />
  <br /><br /><br /><br /><br />
  <div class="about_rangoli">
    <img
      class="about_rangoli_1"
      src="img/About/about_rangoli.svg"
      alt=""
      srcset=""
    />
    <img
      class="about_rangoli_2"
      src="img/About/about_rangoli.svg"
      alt=""
      srcset=""
    />
  </div>
  <div class="about_text_box">
    <p class="about_text">
      The Bengali New Year, or Pohela Boishakh, symbolises rejuvenation and
      renewed life. It is that time of the year when we all get to hear the
      sweet call of the cuckoo, feel the soothing sensation of the southern
      breeze, mango flowers start appearing and the heart of Bengal seems to
      attain a new vigour, brought about by the blessings of Spring. Oikyotaan
      ("musical harmony") is an annual event of NIT Silchar which is dedicated
      to the frolic and cultural celebration of the Bengali New Year. Oikyotaan
      is a common podium of celebration for all those whose hearts ardently love
      the "Bangaliana" spirit - so do join us on the 17th of April, this year as
      we welcome the new year with pomp, joy, music and dance!
    </p>
  </div>
</div>
