
    <img class="swas-artist" src="/img/Artist/Artist- Back Alpona.svg" alt="sostik" />
    <div class="artist-head">
      <img src="img/Artist/Headline Artist - sostik.svg" alt="" id="artists-swastik-1" />
      <p id="head">শিল্পকার</p>
      <img src="img/Artist/Headline Artist - sostik.svg" alt="" id="artists-swastik-2" />
    </div>
  <img class="swas-artist2" src="/img/Artist/Artist- Back Alpona.svg" alt="sostik" />
    <div class="artist-box">
      <div class="card">
        <div class="image">
          <img src="img/Artist/ananya.jpeg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Someone famous</h1>
            <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
          </div>
        </div>
        <h3>অনন্যা চক্রবর্তী</h3>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/Artist/aces.jpeg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Someone famous</h1>
            <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
          </div>
        </div>
        <h3>সোমলতা আচার্য্য চৌধুরী</h3>
      </div>
    </div>
    <img class="swas-artist3" src="/img/Artist/Artist- Back Alpona.svg" alt="sostik" />
    <img class="swas-artist4" src="/img/Artist/Artist- Back Alpona.svg" alt="sostik" />
  