<div class="events">
  <div class="top_design_div">
    <svg
      class="svg-design"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1102.782 248.678"
    >
      <g id="Group_151" data-name="Group 151" transform="translate(0 -0.001)">
        <g id="Group_141" data-name="Group 141" transform="translate(0 0.001)">
          <path
            id="Path_797"
            data-name="Path 797"
            d="M0,144.723C185.615,143.7,356.511,89.844,459.312,0h-3.285C353.413,88.539,183.989,141.561,0,142.574Z"
            transform="translate(0 -0.001)"
            fill="#fffff5"
          />
          <g
            id="Group_133"
            data-name="Group 133"
            transform="translate(10.827 70.516)"
          >
            <path
              id="Path_798"
              data-name="Path 798"
              d="M20.419,148.65C16.8,142.506,11.3,133.1,6.739,123.529c-2.46-5.167-1.354-7.587,6.272-7.863,5.29-.191,26.3-.947,31.593-1.136,7.627-.272,8.905,2.058,6.824,7.388-3.862,9.876-8.672,19.654-11.838,26.039C31.916,163.438,29.184,163.537,20.419,148.65ZM203.859,125.4c2.023-6.834,5.08-17.291,7.188-27.684,1.134-5.609-.525-7.688-7.993-6.107-5.177,1.095-25.751,5.449-30.926,6.546-7.466,1.585-8.141,4.156-4.829,8.823,6.136,8.646,13.172,16.968,17.793,22.4C196.284,142.539,198.958,141.972,203.859,125.4ZM359.237,70.6c.373-7.114.906-18,.533-28.594-.208-5.722-2.3-7.353-9.2-4.074-4.78,2.273-23.767,11.307-28.545,13.582-6.888,3.281-6.947,5.939-2.637,9.7,7.983,6.978,16.77,13.427,22.528,17.631C355.868,89.035,358.336,87.856,359.237,70.6Z"
              transform="translate(-5.567 -36.26)"
              fill="#f60"
            />
          </g>
          <g
            id="Group_135"
            data-name="Group 135"
            transform="translate(65.539 45.394)"
          >
            <g id="Group_134" data-name="Group 134">
              <path
                id="Path_799"
                data-name="Path 799"
                d="M49.921,157.437c-3.905-5.963-9.846-15.1-14.856-24.444-2.7-5.045-1.711-7.513,5.891-8.151,5.274-.441,26.229-2.2,31.5-2.635,7.606-.634,8.993,1.634,7.166,7.058-3.39,10.047-7.729,20.041-10.587,26.569C62.107,171.661,59.382,171.891,49.921,157.437Zm179.613-33.5c1.433-6.982,3.584-17.662,4.8-28.2.65-5.688-1.18-7.616-8.485-5.4l-30.255,9.17c-7.3,2.217-7.752,4.837-4.057,9.2,6.855,8.09,14.578,15.78,19.644,20.8C223.455,141.659,226.07,140.864,229.534,123.938Zm152.637-66.61c-.212-7.124-.574-18.011-1.814-28.541-.675-5.685-2.9-7.139-9.5-3.308-4.576,2.657-22.76,13.219-27.334,15.877-6.6,3.835-6.435,6.488-1.834,9.887,8.53,6.3,17.814,12.007,23.9,15.725C380.324,75.975,382.689,74.6,382.171,57.328Z"
                transform="translate(-33.7 -23.343)"
                fill="#ffeac5"
              />
            </g>
          </g>
          <g
            id="Group_137"
            data-name="Group 137"
            transform="translate(118.414 14.591)"
          >
            <g id="Group_136" data-name="Group 136">
              <path
                id="Path_800"
                data-name="Path 800"
                d="M78.618,166.328c-4.22-5.751-10.64-14.555-16.142-23.619-2.968-4.891-2.11-7.41,5.449-8.452,5.241-.722,26.074-3.594,31.315-4.314,7.563-1.038,9.068,1.151,7.534,6.665-2.847,10.214-6.645,20.426-9.154,27.1C91.545,179.879,88.836,180.254,78.618,166.328Zm177.579-45.8c1.054-7.048,2.629-17.83,3.275-28.413.342-5.714-1.587-7.54-8.765-4.938-4.973,1.8-24.743,8.971-29.718,10.778-7.17,2.6-7.484,5.243-3.555,9.4,7.275,7.713,15.4,14.977,20.729,19.714C251.074,138.549,253.643,137.613,256.2,120.526ZM403.822,40.764c-.937-7.065-2.41-17.859-4.72-28.209-1.252-5.585-3.613-6.8-9.79-2.318-4.282,3.11-21.289,15.475-25.57,18.586-6.171,4.489-5.739,7.112-.813,10.023,9.127,5.395,18.946,10.124,25.379,13.2C403.89,59.5,406.1,57.889,403.822,40.764Z"
                transform="translate(-60.889 -7.504)"
                fill="#4ad340"
              />
            </g>
          </g>
          <g
            id="Group_138"
            data-name="Group 138"
            transform="translate(10.827 70.516)"
          >
            <path
              id="Path_801"
              data-name="Path 801"
              d="M208.439,66c.319-6.787.6-15.463.305-23.989-.208-5.722-2.3-7.353-9.2-4.074-4.78,2.273-23.767,11.307-28.545,13.582-6.888,3.281-6.947,5.939-2.637,9.7,5.453,4.763,11.256,9.263,16.237,12.989a45.466,45.466,0,0,1-3.211-4.343C174.425,59.1,184.248,52.44,193.215,49.22a31.733,31.733,0,0,1,8.059-1.7C208.918,46.874,208.124,61.059,208.439,66Z"
              transform="translate(145.458 -36.26)"
              fill="#d35500"
            />
            <path
              id="Path_802"
              data-name="Path 802"
              d="M44.6,76.517c-5.29.189-26.3.945-31.593,1.136-7.625.276-8.732,2.7-6.272,7.863,2.058,4.319,4.3,8.586,6.486,12.555-.667-5.589.76-10.482,8.841-12.6,7.406-1.945,19.076-.805,19.815,8.477.735,9.228-4.5,18.685-9.362,26.9,2.052-1.525,4.22-5.146,7.071-10.9,3.166-6.385,7.975-16.163,11.838-26.039C53.509,78.575,52.231,76.245,44.6,76.517Z"
              transform="translate(-5.567 1.753)"
              fill="#d35500"
            />
            <path
              id="Path_803"
              data-name="Path 803"
              d="M125.406,64.972c-5.177,1.095-25.751,5.449-30.926,6.546-7.466,1.585-8.141,4.156-4.829,8.823,4.825,6.8,10.191,13.374,14.516,18.524-5.83-10.124-8.707-20.523,7.149-23.786,19.811-4.074,15.212,13.575,13.674,27.567.395-1.19.8-2.456,1.221-3.884,2.023-6.834,5.08-17.291,7.188-27.684C134.533,65.47,132.874,63.391,125.406,64.972Z"
              transform="translate(72.081 -9.619)"
              fill="#d35500"
            />
          </g>
          <g
            id="Group_139"
            data-name="Group 139"
            transform="translate(118.414 14.591)"
          >
            <path
              id="Path_804"
              data-name="Path 804"
              d="M254.2,12.555c-1.252-5.585-3.613-6.8-9.79-2.318-4.282,3.11-21.289,15.475-25.57,18.586-6.171,4.489-5.739,7.112-.813,10.023,4.911,2.9,10,5.6,14.681,7.962-.251-.233-.508-.451-.753-.7-6.711-6.708-2.655-13.771,2.913-19.38,4.994-5.027,11.9-9.333,17.694-3.168a25.83,25.83,0,0,1,5.375,10.06C257.031,27.347,255.825,19.853,254.2,12.555Z"
              transform="translate(84.018 -7.504)"
              fill="#38bc2e"
            />
            <path
              id="Path_805"
              data-name="Path 805"
              d="M184.643,53.973c.342-5.714-1.587-7.54-8.765-4.938-4.973,1.8-24.743,8.971-29.718,10.778-7.17,2.6-7.484,5.243-3.555,9.4,6,6.359,12.552,12.388,17.662,16.972a75.174,75.174,0,0,1-7.748-9.9c-5.371-8.958,3.812-13.962,11.081-16.531,6.144-2.168,15.259-4.238,18.034,3.477a23.881,23.881,0,0,1,1.256,8.345C183.6,66.131,184.273,60.033,184.643,53.973Z"
              transform="translate(13.94 30.637)"
              fill="#38bc2e"
            />
            <path
              id="Path_806"
              data-name="Path 806"
              d="M99.24,70.584C94,71.3,73.167,74.176,67.925,74.9c-7.559,1.042-8.417,3.561-5.449,8.452,1.779,2.933,3.654,5.825,5.521,8.609-.058-.525-.152-1.044-.175-1.575C67.432,80.947,82.056,77.6,89.215,77.009c3.88-.319,8.2.171,11.19,2.87,2.958,2.67,2.233,8.471,1.585,12.472,1.645-4.726,3.337-9.911,4.784-15.1C108.309,71.735,106.8,69.545,99.24,70.584Z"
              transform="translate(-60.889 51.856)"
              fill="#38bc2e"
            />
          </g>
          <g
            id="Group_140"
            data-name="Group 140"
            transform="translate(65.539 45.394)"
          >
            <path
              id="Path_807"
              data-name="Path 807"
              d="M232.343,28.787c-.675-5.685-2.9-7.139-9.5-3.308-4.576,2.657-22.76,13.219-27.334,15.877-6.6,3.835-6.435,6.488-1.834,9.887,8.53,6.3,17.814,12.007,23.9,15.725,1.262.77,2.4,1.435,3.487,2.052-4.49-3.3-9.189-6.334-13.213-10.228-5.356-5.183-3.633-11.072.9-16.142,3.685-4.123,9.3-7.262,14.926-7,8.409.393,9.3,11.618,10.393,18.631C233.832,47.3,233.418,37.915,232.343,28.787Z"
              transform="translate(114.314 -23.343)"
              fill="#efc77f"
            />
            <path
              id="Path_808"
              data-name="Path 808"
              d="M72.459,74.229c-5.274.44-26.229,2.194-31.5,2.635-7.6.638-8.594,3.106-5.891,8.151,5.01,9.345,10.951,18.481,14.856,24.444a50.654,50.654,0,0,0,6.564,8.6c-3.108-5.393-6.233-10.77-9.105-16.328-2.41-4.664-4.984-9.469-5.113-14.835-.1-4.286,4.45-6.206,7.872-7.145a32.671,32.671,0,0,1,20.622,1.686A9.781,9.781,0,0,1,76.695,89.4c1.015-2.657,2.009-5.379,2.931-8.114C81.452,75.863,80.065,73.6,72.459,74.229Z"
              transform="translate(-33.7 24.635)"
              fill="#efc77f"
            />
            <path
              id="Path_809"
              data-name="Path 809"
              d="M154,91.655c1.433-6.984,3.559-17.573,4.761-28.024.65-5.688-1.18-7.616-8.485-5.4L120.018,67.4c-7.3,2.217-7.752,4.837-4.057,9.2,6.855,8.09,14.578,15.78,19.644,20.8,1.052,1.04,2.011,1.951,2.927,2.8-7.24-8.8-16.4-22.268-7.818-28.584,5.366-3.944,19.372-11.027,24.152-3.073,2.9,4.829,1.064,12.233.1,17.312C154.6,87.8,154.244,89.725,154,91.655Z"
              transform="translate(41.872 8.77)"
              fill="#efc77f"
            />
          </g>
        </g>
        <g
          id="Group_150"
          data-name="Group 150"
          transform="translate(510.275 0.001)"
        >
          <path
            id="Path_810"
            data-name="Path 810"
            d="M852.743,185.561C614.751,184.255,395.628,115.2,263.821,0h4.212c131.57,113.521,348.8,181.506,584.711,182.8Z"
            transform="translate(-260.236 -0.001)"
            fill="#fffff5"
          />
          <g
            id="Group_142"
            data-name="Group 142"
            transform="translate(124.31 90.414)"
          >
            <path
              id="Path_811"
              data-name="Path 811"
              d="M747.51,180.365c4.638-7.877,11.692-19.938,17.54-32.209,3.154-6.625,1.733-9.727-8.042-10.081-6.785-.244-33.725-1.214-40.51-1.456-9.777-.349-11.415,2.638-8.747,9.473,4.952,12.662,11.119,25.2,15.178,33.386C732.768,199.325,736.272,199.453,747.51,180.365ZM512.3,150.559c-2.591-8.762-6.511-22.17-9.214-35.5-1.451-7.191.671-9.857,10.246-7.83,6.638,1.4,33.015,6.987,39.655,8.393,9.568,2.032,10.436,5.329,6.189,11.313-7.865,11.086-16.889,21.756-22.811,28.721C522.021,172.53,518.587,171.8,512.3,150.559ZM313.081,80.293c-.479-9.121-1.16-23.075-.683-36.663.269-7.336,2.957-9.428,11.8-5.224,6.127,2.915,30.474,14.5,36.6,17.415,8.83,4.207,8.9,7.615,3.381,12.443-10.239,8.947-21.5,17.215-28.885,22.607C317.4,103.927,314.236,102.416,313.081,80.293Z"
              transform="translate(-312.236 -36.26)"
              fill="#f60"
            />
          </g>
          <g
            id="Group_144"
            data-name="Group 144"
            transform="translate(61.59 58.204)"
          >
            <g id="Group_143" data-name="Group 143">
              <path
                id="Path_812"
                data-name="Path 812"
                d="M713.169,195.276c5.007-7.645,12.627-19.36,19.048-31.341,3.468-6.468,2.2-9.633-7.553-10.451-6.76-.566-33.628-2.815-40.391-3.379-9.755-.813-11.53,2.095-9.191,9.049,4.346,12.882,9.909,25.7,13.575,34.067C697.547,213.514,701.038,213.808,713.169,195.276Zm-230.3-42.951c-1.835-8.952-4.593-22.646-6.147-36.152-.833-7.294,1.516-9.765,10.879-6.93,6.493,1.97,32.3,9.79,38.792,11.757,9.361,2.843,9.939,6.2,5.2,11.8-8.79,10.373-18.692,20.233-25.187,26.666C490.669,175.046,487.313,174.026,482.872,152.325ZM287.165,66.918c.267-9.134.736-23.093,2.327-36.6.863-7.289,3.718-9.154,12.181-4.242,5.87,3.406,29.182,16.949,35.047,20.357,8.458,4.917,8.254,8.319,2.351,12.677-10.934,8.077-22.841,15.4-30.643,20.163C289.531,90.826,286.5,89.061,287.165,66.918Z"
                transform="translate(-287.083 -23.343)"
                fill="#ffeac5"
              />
            </g>
          </g>
          <g
            id="Group_146"
            data-name="Group 146"
            transform="translate(0 18.709)"
          >
            <g id="Group_145" data-name="Group 145">
              <path
                id="Path_813"
                data-name="Path 813"
                d="M680.334,211.145c5.411-7.373,13.64-18.662,20.692-30.284,3.805-6.271,2.708-9.5-6.982-10.837-6.723-.925-33.436-4.608-40.156-5.531-9.7-1.332-11.625,1.476-9.658,8.545,3.648,13.1,8.518,26.19,11.737,34.743C663.755,228.52,667.233,229,680.334,211.145ZM452.641,152.42c-1.349-9.037-3.369-22.861-4.2-36.431-.436-7.326,2.037-9.668,11.241-6.331,6.376,2.312,31.726,11.5,38.1,13.819,9.194,3.339,9.6,6.723,4.558,12.059-9.328,9.889-19.744,19.2-26.576,25.277C459.211,175.527,455.919,174.328,452.641,152.42ZM263.357,50.149c1.2-9.059,3.087-22.9,6.054-36.169,1.6-7.161,4.631-8.722,12.55-2.972,5.488,3.987,27.3,19.841,32.785,23.831,7.909,5.755,7.358,9.119,1.042,12.852-11.7,6.917-24.292,12.981-32.543,16.926C263.27,74.172,260.435,72.107,263.357,50.149Z"
                transform="translate(-262.383 -7.504)"
                fill="#4ad340"
              />
            </g>
          </g>
          <g
            id="Group_147"
            data-name="Group 147"
            transform="translate(124.31 90.414)"
          >
            <path
              id="Path_814"
              data-name="Path 814"
              d="M312.79,74.389c-.411-8.7-.775-19.826-.392-30.758.269-7.336,2.957-9.428,11.8-5.224,6.127,2.915,30.474,14.5,36.6,17.415,8.83,4.207,8.9,7.615,3.381,12.443-6.994,6.107-14.435,11.877-20.821,16.654a58.752,58.752,0,0,0,4.122-5.568c8.927-13.812-3.668-22.345-15.168-26.474A40.662,40.662,0,0,0,321.974,50.7C312.179,49.869,313.194,68.057,312.79,74.389Z"
              transform="translate(-312.236 -36.26)"
              fill="#d35500"
            />
            <path
              id="Path_815"
              data-name="Path 815"
              d="M480.284,76.523c6.785.242,33.725,1.212,40.51,1.456,9.775.354,11.2,3.456,8.042,10.081-2.641,5.538-5.518,11.009-8.316,16.1.853-7.166-.978-13.44-11.336-16.161-9.5-2.494-24.462-1.032-25.409,10.869-.943,11.832,5.773,23.958,12.006,34.486-2.631-1.955-5.411-6.6-9.067-13.971C482.655,111.2,476.489,98.659,471.536,86,468.868,79.162,470.507,76.174,480.284,76.523Z"
              transform="translate(-76.021 23.834)"
              fill="#d35500"
            />
            <path
              id="Path_816"
              data-name="Path 816"
              d="M399.269,65.117c6.638,1.4,33.014,6.987,39.655,8.393,9.568,2.032,10.435,5.329,6.189,11.313-6.184,8.717-13.061,17.148-18.61,23.751,7.476-12.981,11.164-26.314-9.166-30.5-25.4-5.224-19.5,17.405-17.532,35.346-.506-1.526-1.027-3.149-1.568-4.98-2.591-8.762-6.511-22.17-9.214-35.5C387.572,65.756,389.694,63.09,399.269,65.117Z"
              transform="translate(-198.168 5.856)"
              fill="#d35500"
            />
          </g>
          <g
            id="Group_148"
            data-name="Group 148"
            transform="translate(2.236 18.709)"
          >
            <path
              id="Path_817"
              data-name="Path 817"
              d="M268.073,13.98c1.6-7.161,4.631-8.722,12.55-2.972,5.488,3.987,27.3,19.841,32.785,23.831,7.909,5.755,7.358,9.119,1.042,12.852-6.3,3.72-12.827,7.179-18.824,10.209.322-.3.653-.579.965-.893,8.605-8.6,3.4-17.657-3.735-24.848-6.4-6.446-15.253-11.967-22.686-4.062-3.247,3.456-5.406,8.114-6.89,12.9C264.434,32.946,265.983,23.338,268.073,13.98Z"
              transform="translate(-263.28 -7.504)"
              fill="#38bc2e"
            />
            <path
              id="Path_818"
              data-name="Path 818"
              d="M337.027,55.694c-.436-7.326,2.037-9.668,11.241-6.331,6.376,2.312,31.725,11.5,38.1,13.819,9.194,3.339,9.6,6.723,4.558,12.059-7.69,8.154-16.091,15.884-22.641,21.761,3.486-4.087,7.149-8.047,9.929-12.692,6.887-11.485-4.885-17.9-14.206-21.2-7.88-2.78-19.564-5.433-23.125,4.458a30.68,30.68,0,0,0-1.611,10.7C338.369,71.283,337.5,63.464,337.027,55.694Z"
              transform="translate(-153.205 52.791)"
              fill="#38bc2e"
            />
            <path
              id="Path_819"
              data-name="Path 819"
              d="M425.589,70.654c6.72.923,33.433,4.606,40.156,5.531,9.69,1.337,10.787,4.566,6.982,10.837-2.279,3.76-4.683,7.468-7.074,11.039.072-.673.195-1.339.222-2.02.5-12.1-18.253-16.388-27.429-17.148-4.977-.409-10.518.219-14.35,3.68-3.79,3.424-2.86,10.862-2.032,15.991-2.11-6.059-4.276-12.707-6.132-19.365C413.964,72.13,415.892,69.323,425.589,70.654Z"
              transform="translate(-36.321 86.335)"
              fill="#38bc2e"
            />
          </g>
          <g
            id="Group_149"
            data-name="Group 149"
            transform="translate(61.794 58.204)"
          >
            <path
              id="Path_820"
              data-name="Path 820"
              d="M289.369,30.323c.863-7.289,3.718-9.154,12.181-4.242,5.87,3.406,29.182,16.949,35.047,20.357,8.458,4.917,8.254,8.319,2.351,12.677-10.934,8.077-22.841,15.4-30.643,20.163-1.616.987-3.077,1.84-4.466,2.631,5.758-4.229,11.782-8.122,16.939-13.114,6.867-6.645,4.655-14.2-1.155-20.7-4.723-5.286-11.917-9.311-19.135-8.974-10.782.5-11.922,14.9-13.323,23.888C287.457,54.064,287.988,42.028,289.369,30.323Z"
              transform="translate(-287.165 -23.343)"
              fill="#efc77f"
            />
            <path
              id="Path_821"
              data-name="Path 821"
              d="M452.428,74.259c6.762.564,33.63,2.813,40.39,3.379,9.75.818,11.022,3.982,7.553,10.45-6.421,11.982-14.041,23.7-19.048,31.341-3.379,5.162-6.072,8.807-8.416,11.021,3.985-6.915,7.994-13.809,11.675-20.936,3.092-5.98,6.393-12.141,6.555-19.021.132-5.5-5.7-7.957-10.091-9.161-8.363-2.289-18.539-1.279-26.444,2.162-4.733,2.06-6.9,5.81-7.608,10.216-1.3-3.406-2.573-6.9-3.758-10.4C440.9,76.353,442.673,73.446,452.428,74.259Z"
              transform="translate(-55.442 52.504)"
              fill="#efc77f"
            />
            <path
              id="Path_822"
              data-name="Path 822"
              d="M369.331,101.34c-1.835-8.954-4.563-22.532-6.1-35.932-.833-7.294,1.516-9.765,10.879-6.93,6.493,1.97,32.3,9.79,38.792,11.757,9.361,2.843,9.939,6.2,5.2,11.8-8.79,10.373-18.692,20.233-25.187,26.666-1.351,1.334-2.578,2.5-3.75,3.593,9.281-11.281,21.028-28.551,10.022-36.65-6.882-5.057-24.838-14.138-30.97-3.94-3.72,6.191-1.364,15.684-.127,22.2C368.568,96.4,369.017,98.866,369.331,101.34Z"
              transform="translate(-173.792 27.423)"
              fill="#efc77f"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
  <div class="events_innerDiv">
    <div class="events_inner_leftSide">
      <div class="events-section-1-text">
        <img class="circle-1" src="/img/events/Group 153.png" alt="" />
        <!--For mobile -->
        <h1 class="about_heading_events">Events</h1>
        <hr class="about_underline_events" />
        <!--For mobile -->
        <div class="events-text-heading">Events</div>
        <div class="events-text-body">
          We invite you with open hearts and arms to participate in the
          Oikyotaan gala - please do pour in in huge numbers!
        </div>
        <div class="events-text-body">
          The morning starts with a vibrant, colorful cultural rally at 7 AM,
          followed by the Noboborsho chit chats or "adda" soon after at 10. The
          donation drive shall commence around noon 11 AM, while talent street
          painters and sculptors shall showcase their works of art in the
          respective competitions at 12, noon.
        </div>
        <div class="events-text-body">
          The Inaugural ceremony shall be held in the evening at 5, which will
          then be followed by a performance by the faculty and students of NITS.
          The much awaited performance of Somlata and the Aces begins at 7, and
          Ananya Chakraborty shall mesmerize the audience from 10.
        </div>
        <img class="circle-2" src="/img/events/Group 152.png" alt="" />
      </div>
    </div>
    <div class="events_inner_rightSide">
      <div class="slider-rotate" id="slider">
        <div class="slider-rotate__container">
          <!-- ITENS -->
          <div class="slider-rotate__item">
            <span class="position">1</span>
            <img src="/img/events/rally.png" />
            <div class="pic_img"><p>Cultural Rally</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">2</span><img src="/img/events/Adda.png" />
            <div class="pic_img"><p>Noboborsher Adda</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">3</span
            ><img src="/img/events/Donation.png" />
            <div class="pic_img"><p>Donation Drive</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">4</span
            ><img src="/img/events/inaguaration.png" />
            <div class="pic_img"><p>Inauguration</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">5</span><img src="/img/events/faculty.png" />
            <div class="pic_img"><p>Cultural performances</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">6</span
            ><img src="/img/events/somlata final.png" />
            <div class="pic_img"><p>Somlata & The Aces</p></div>
          </div>
          <div class="slider-rotate__item">
            <span class="position">7</span><img src="/img/events/ananya.jpg" />
            <div class="pic_img"><p>Ananya Chakraborty</p></div>
          </div>

          <!-- NAVIGATION -->
          <span
            class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
            data-action="next"
            ><i class="fa fa-arrow-right"></i
          ></span>
          <span
            class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
            data-action="prev"
            ><i class="fa fa-arrow-left"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
