<link rel="stylesheet" href="/css/footer.css" />
<section class="footer">
  <div class="footer-top">
    <img
      class="NIT_logo"
      src="img/footer/NIT logo white.svg"
      alt="NIT Silchar"
    />
    <img
      class="Oikyotan_logo"
      src="img/footer/Oikyotaan ' 22 logo.svg"
      alt="Oikyotaan"
    />
  </div>
  <div class="footer-mid">
    <div class="footer-mid-left">
      <div>
        <img class="icon" src="img/footer/pin.svg" alt="Location" />
        <span> NIT Silchar, Silchar, Assam, India 788010 </span>
      </div>
      <div>
        <img class="icon" src="img/footer/phone-call.svg" alt="Call" />
        <span>09100700125</span>
      </div>
    </div>
    <div class="footer-mid-mid">
      <div>
        <img
          class="icon"
          class="fb"
          src="img/footer/facebook.svg"
          alt="Facebook"
        />
        <a class="fb" href="#">Facebook</a>
      </div>
      <div>
        <img class="icon" src="img/footer/instagram.svg" alt="Instagram" />
        <a href="#">Instagram</a>
      </div>
    </div>
    <div class="footer-mid-right">
      <a href="/meetTeam">
        <span>Our Web Team</span>
        <img class="direction" src="img/footer/Arrow.svg" alt="Arrow" />
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    All Rights Reserved. &#169; Oikyotaan, NIT Silchar
  </div>
</section>

<!-----------------------------------------Footer Mobile----------------------------------------------->
<section class="footerMobile">
  <div class="footerMobile_topdiv">
    <img
      class="NIT_logo"
      src="img/footer/NIT logo white.svg"
      alt="NIT Silchar"
    />

    <div style="float: left">
      <div>
        <img class="icon" src="img/footer/pin.svg" alt="Location" />
        <p class="inline_text_of_mobile_footer">
          NIT Silchar, Silchar, Assam, India 788010
        </p>
        <br />
        <br />
      </div>
      <div>
        <img class="icon" src="img/footer/phone-call.svg" alt="Call" />
        <p class="inline_text_of_mobile_footer">09100700125</p>
      </div>
    </div>
  </div>
  <div class="footerMobile_bottomdiv">
    <img
      class="Oikyotan_logo"
      src="img/footer/Oikyotaan ' 22 logo.svg"
      alt="Oikyotaan"
    />
    <div>
      <img
        class="icon"
        class="fb"
        src="img/footer/facebook.svg"
        alt="Facebook"
      />
      <a class="fb" href="#">Facebook</a>
    </div>
    <br />
    <div>
      <img class="icon" src="img/footer/instagram.svg" alt="Instagram" />
      <a href="#">Instagram</a>
    </div>
    <br />
    <div>
      <i class="fa fa-users"></i>
      <a href="/meetTeam">Website Team</a>
    </div>
  </div>
  <div class="footer-bottom">
    All Rights Reserved. <br />&#169; <br />
    Oikyotaan, NIT Silchar
  </div>
</section>
