<lottie-player
  src="/lottie/birds.json"
  mode="bounce"
  background="transparent"
  speed="1"
  loop
  autoplay
></lottie-player>

<img class="cloud" src="/img/landing/Bg Clouds.svg" alt="Clouds" />
<img class="buildings" src="/img/landing/Buildings.svg" alt="Buildings" />
<img
  class="mobile-buildings"
  src="/img/landing/Mobile Building.svg"
  alt="Buildings"
/>
<img class="grass" src="/img/landing/Grass.svg" alt="Grass" />
<img
  class="landing-bg"
  src="/img/landing/Landing Page View BG.svg"
  alt="Landing Page View BG"
/>
<img
  class="left-cloud"
  src="/img/landing/Left Big Cloud.svg"
  alt="Left Big Clouds"
/>
<img class="men" src="/img/landing/Men_Dancing.svg" alt="Men Dancing" />
<img
  class="right-cloud"
  src="/img/landing/Right Big Cloud.svg"
  alt="Right Big Cloud"
/>
<!-- <img class="left-tree" src="/img/landing/Tree_left.svg" alt="Tree Left" />
  <img class="right-tree" src="/img/landing/Tree_Right.svg" alt="Right Tree" /> -->
<lottie-player
  src="/lottie/left-tree.json"
  mode="bounce"
  background="transparent"
  speed="1"
  loop
  autoplay
  class="left-tree-lottie"
></lottie-player>
<lottie-player
  src="/lottie/right-tree.json"
  mode="bounce"
  background="transparent"
  speed="1"
  loop
  autoplay
  class="right-tree-lottie"
></lottie-player>
<img class="women" src="/img/landing/women_dancing.svg" alt="Women Dancing" />

<div class="bottom-bg">
  <img
  class="kolosh"
  src="/img/landing/ghot1.svg"
  alt="kolosh"
/>
  <h2 class="landing_bottom_text">ঐক্যতান</h2>
  <img
  class="kolosh2"
  src="/img/landing/ghot1.svg"
  alt="Kolosh"
/>
</div>
