<h1 class="magazine_heading">পত্রিকা</h1>
<h1 class="magazine_center_heading">MAGAZINE</h1>
<div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="flipbook">
        <div class="page">
          <img src="img/magazine/1-cover.jpeg" draggable="false" alt="" />
        </div>
        <div class="page">
          <img src="img/magazine/2.jpeg" draggable="false" alt="" />
        </div>
        <div class="page">
          <img src="img/magazine/3.jpeg" draggable="false" alt="" />
        </div>
        <div class="page">
          <img src="img/magazine/4.jpeg" draggable="false" alt="" />
        </div>
        <div class="page">
          <img src="img/magazine/5.png" draggable="false" alt="" />
        </div>
        <div class="page">
          <img src="img/magazine/6.jpeg" draggable="false" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="magazine_button">
  <a href="#" class="magazine_btn_link">Download Magazine</a>
</div>
