<section class="navbar">
  <nav>
    <a href="#home">Home</a>
    <a href="#">Gallery</a>
    <a class="navbar-brand" href="/">
      <img src="/img/Oikyotaan Logo.svg" alt="" />
    </a>
    <a href="/events">Event</a>
    <a href="#">Team</a>
  </nav>
</section>
