<nav>
  <a href="/">Home</a>
  <a href="/gallery">Gallery</a>
  <a class="navbar-brand" href="/">
    <img src="/img/navbar/Oikyotaan Logo.svg" alt="" />
  </a>
  <a href="/events">Event</a>
  <a href="/team">Team</a>
</nav>
