<nav>
  <a class="navbar-mobile-brand" href="/">
    <img src="/img/navbar/Oikyotaan Logo.svg" alt="Oikyotaan" />
  </a>
  <div class="navbar-mobile-hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="navbar-mobile-modal">
    <div class="navbar-mobile-cross">x</div>
    <div class="navbar-mobile-links">
      <a href="/" class="navbar-mobile-navlinks">Home</a>
      <a href="#" class="navbar-mobile-navlinks">Gallery</a>
      <a href="/events" class="navbar-mobile-navlinks">Event</a>
      <a href="#" class="navbar-mobile-navlinks">Team</a>
    </div>
  </div>
</nav>
