<div class="sponsor-head">
  <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-1" />
  <h1 class="sponsors-h1 dholak-text">Our Sponsors</h1>
  <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-2" />
</div>

<!-- Outer designed margin -->
<img class="sponsor-outer-left" src="img/Sponsor/vertical.svg" alt="" />
<img class="sponsor-outer-right" src="img/Sponsor/vertical.svg" alt="" />
    <div class="sponsor_box">
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/sponsors1.png" alt="amul" />
          
        </div>
        <p class="text_design_footer">Beverage Partner</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/sponsors2.png" alt="amul" />
        </div>
        <p class="text_design_footer"> Sponsor</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/sponsors3.png" alt="amul" />
        </div>
        <p class="text_design_footer">Fashion Partner</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/sponsors4.png" alt="amul" />
        </div>
        <p class="text_design_footer">Food Partner</p>
      </div>
    </div>
    <div class="sponsor_box">
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/sponsors5.png" alt="amul" />
        </div>
        <p class="text_design_footer">Food Partner</p>
      </div>
      
      <!-- <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="text_design_footer">Food Partner</p>
      </div> -->
      
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/yumm.png" alt="amul" />
        </div>
        <p class="text_design_footer">Food Partner</p>
      </div>
    </div>

</div>
<br />
<div class="dholak-text2">
  <h1>Our Media Partners</h1>
</div>
<br />

<div class="sponsor_box">
  <div class="box">
    <div class="imgBx">
      <img class="barak" src="img/Sponsor/media1.png" alt="amul" />
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img class="barak" src="img/Sponsor/media2.png" alt="amul" />
    </div>
  </div>
 
</div>