<div class="sponsor-head">
  <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-1" />
  <h1 class="sponsors-h1 dholak-text">Our Sponsors</h1>
  <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-2" />
</div>

<!-- Outer designed margin -->
<img class="sponsor-outer-left" src="img/Sponsor/vertical.svg" alt="" />
<img class="sponsor-outer-right" src="img/Sponsor/vertical.svg" alt="" />
    <div class="sponsor_box">
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
          
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
    </div>
    <div class="sponsor_box">
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
      
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
        <p class="sponsor_box_text">Beverage Partner</p>
      </div>
      <!-- <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
        </div>
      </div> -->
    </div>

</div>
<br />
<div class="dholak-text2">
  <h1>Our Media Partners</h1>
</div>
<br />
<!-- <div class="partners-box">
  <div class="media-card">
    <img src="img/Sponsor/Bulletin.jpg" />
  </div>
  <div class="media-card">
    <img src="img/Sponsor/Outlet.jpg" />
  </div>
</div> -->
<div class="sponsor_box">
  <div class="box">
    <div class="imgBx">
      <img class="barak" src="img/Sponsor/Bulletin.jpg" alt="amul" />
    </div>
  </div>
  <div class="box">
    <div class="imgBx">
      <img class="barak" src="img/Sponsor/Outlet.jpg" alt="amul" />
    </div>
  </div>
 
</div>