

    <div class="sponsor-head">
      <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-1" />
      <h1 class="sponsors-h1 dholak-text">Our Sponsors</h1>
      <img src="img/Sponsor/dholak.svg" alt="" id="sponsor-swastik-2" />
    </div>
  
    <!-- Outer designed margin -->
    <img class="sponsor-outer-left" src="img/Sponsor/vertical.svg" alt="" />
    <img class="sponsor-outer-right" src="img/Sponsor/vertical.svg" alt="" />
    <div class="sponsor-box">
     <div class="sponsar-card">
      <img class="sponsor-amul" src="img/Sponsor/amul.png" alt="amul" />
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-1a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-2a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-3a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-4a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
     </div>
     <div class="sponsar-card">
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-1a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-2a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-3a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
      <div class="sponsor-components">
        <img
          class="sponsor-image-border sponsor-image-border-4a"
          src="img/Sponsor/sponsors outline.svg"
          alt=""
        />
      </div>
     </div>
    </div>
    <br>
    <div class="dholak-text2">
      <h1>Our Media Partners</h1>
    </div>
    <br>
    <div class="partners-box">
      <div class="media-card">
      <img  src="img/Sponsor/Bulletin.jpg"/>
      </div>
      <div class="media-card">
      <img  src="img/Sponsor/outlet.jpg"/>
      </div>
    </div> 