<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/css/event_main/events.css" /> -->
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- <link rel="stylesheet" href="css/home/landing.css" /> -->
    <link rel="stylesheet" href="/css/events/performances.css" />
    <link rel="stylesheet" href="/css/events/landing.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="/fornts/Unicode/Li-Shadhinata-2-Unicode.ttf" />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/img/landing/ghot1.ico">
    <title>Oikyotaan 2022</title>
  </head>
  <body>
    <button id="scrollToTop">
      <i class="fa fa-arrow-up"></i>
    </button>

    <section class="navbar"><%- include("partials/navbar") %></section>
    <!--------------- NAVBAR MOBILE --------------------->
    <section class="navbar-mobile">
      <%- include("partials/navbar-mobile") %>
    </section>
    <section id="home" class="landing">
      <img class="cloud" src="/img/landing/Bg Clouds.svg" alt="Clouds" />
      <img
        class="landing-bg"
        src="/img/events/main page/Victoria Memorial.png"
        alt="Event page View BG"
      />
    </section>

    <!--Events-Main Div--->
    <section class="performances">
      <!---Top Div-->
      <div class="bottom-bg">
        <img
          class="flying_paper_design_left"
          src="/img/events/flying_paper_design_left.png"
          alt=""
        />

        <h2 class="landing_bottom_text">
          সাংস্কৃতিক অনুষ্ঠান
        </h2>
        <h4 class="landing_bottom_text2">Cultural Program</h4>
        <img
          class="about_rangoli_1"
          src="/img/About/about_rangoli.svg"
          alt=""
        />
        <img
          class="flying_paper_design_right"
          src="/img/events/flying_paper_design_left.png"
          alt=""
        />
      </div>
      <div class="topDivShift">
        <div class="topDiv_music">
          <div class="topDiv_music_inner">
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/Rally.png" alt="" />
              </div>
            </div>
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">01</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">সাংস্কৃতিক সমাবেশ</h1>
                  <p style="margin-top: -2%">Cultural rally</p>
                </div>
              </div>

              <p class="gapsUnder_paragraph">
                The significance of rallies is for people to come together and
                muster for a common purpose to renew their effort for a
                particular motive. Thus, a cultural rally signifies the getting
                together of people of diverse cultures and highlighting their
                vivid heritage to the people. Join us in the colorful cultural
                rally that shall be organized in the NIT Silchar campus in
                correspondence to the unfolding of Oikyotaan which will showcase
                attractive cultural integration amongst different communities.
              </p>
              <p>Time : 7:30 am Venue: SAC Building</p>
            </div>
          </div>
        </div>
        <!---Bottom Div-->
        <div class="topDiv_music">
          <div class="topDiv_music_inner" id="reverse_div">
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">02</div>
                <div class="heading_text">
                  <h1>নববর্ষ আড্ডা</h1>
                  <p style="margin-top: -3%">Naboborsho Adda</p>
                </div>
              </div>

              <p class="gapsUnder_paragraph">
                ‘Addas’ or gossips are an integral part of Bengali culture.
                Everyone loves to just grab a cup of tea and gossip about
                anything and everything with their friends and family. Right
                after the rally, we the students of NIT Silchar are organizing a
                rendezvous of the sort as a part of Oikyotaan and celebrate it
                in the heart and manner it is meant to be. Oikyotaan is held to
                celebrate the first day of the Bengali New Year which is called
                “Pohela Baisakh,” - and “Pohela Boisakh” is incomplete without
                spending time with family and friends and we at NIT Silchar are
                a large family.
              </p>
              <p>Time : 10:00 am Venue: Sports Complex Auditorium</p>
            </div>

            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx" style="float: right">
                <img src="img/events_page/Nobo adda.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner">
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/Donation (2).png" alt="" />
              </div>
            </div>
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">03</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">ডোনেশন ড্রাইভ</h1>
                  <p style="margin-top: -1%">Donation Drive</p>
                </div>
              </div>

              <p class="gapsUnder_paragraph">
                Keeping in our hearts and minds Robert Ingersoll's quote, "We
                rise by lifting others" - we, the Oikyotaan fraternity, are
                organizing a donation drive. The spirit of Pohela Boishakh is
                one of inclusivity and unity - it is all about making everyone
                feel like family. We are organizing two drives, one at the NIT
                Silchar LP school and the other at a nearby rural institution,
                where items of use shall be distributed amongst children who
                need them the most.
              </p>
              <p>Time : 11:30 am Venue: LP School NIT Silchar</p>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner" id="reverse_div">
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">04</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">
                    রাস্তা অঙ্কন
                  </h1>
                  <p style="margin-top: -1%">Street Painting</p>
                </div>
              </div>

              <p style="margin-top: 2%" class="gapsUnder_paragraph">
                Inauguration ceremonies are of quintessential importance, as
                they inform the audience of the events that are going to occur
                during the jamboree. Here as well, the inaugural ceremony will
                mark the commencement of the events that are going to take place
                during the night. The presenters for the cultural night will
                initiate the ceremony along with the usual lighting of the lamp
                by our Honorable Director Sir and a few more dignitaries present
                during the function.
              </p>
              <p>Time : 12:00 noon Venue: Innovation Lab to T-Point</p>
            </div>
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/street.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner">
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/inaugral.png" alt="" />
              </div>
            </div>
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">05</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">উদ্বোধনী অনুষ্ঠান</h1>
                  <p style="margin-top: -1%">Inaugural Ceremony</p>
                </div>
              </div>

              <p style="margin-top: 2%" class="gapsUnder_paragraph">
                Inauguration ceremonies are of quintessential importance, as
                they inform the audience of the events that are going to occur
                during the jamboree. Here as well, the inaugural ceremony will
                mark the commencement of the events that are going to take place
                during the night. The presenters for the cultural night will
                initiate the ceremony along with the usual lighting of the lamp
                by our Honorable Director Sir and a few more dignitaries present
                during the function.
              </p>
              <p>Time : 5:00 pm Venue: Sports Complex Auditorium</p>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner" id="reverse_div">
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">06</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">
                    শিক্ষক ও শিক্ষার্থীদের পরিবেশনা
                  </h1>
                  <p style="margin-top: -3%">
                    Performance by Faculty and Students
                  </p>
                </div>
              </div>

              <p style="margin-top: 2%" class="gapsUnder_paragraph">
                Who says India has a drought of talent? Just have the admiration
                and will to witness and you will have an everlasting experience
                from almost everyone you meet. Here in Oikyotaan 2022, get a
                chance to witness the artistic side of the faculty of our NIT
                Silchar along with the students. A chance you definitely cannot
                miss, so do join us in the evening.
              </p>
              <p>Time : 5:30 pm Venue: Sports Complex Auditorium</p>
            </div>
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/faculty 1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner">
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/somlata.png" alt="" />
              </div>
            </div>
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">07</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">
                    সোমলতা অ্যান্ড দ্য এসিস
                  </h1>
                  <p style="margin-top: -1%">Somlata and the Aces</p>
                </div>
              </div>

              <p class="gapsUnder_paragraph">
                We will be hosting Somlata Acharyya Chowdhury along with her
                band together called "Somlata and The Aces". "Somlata" is a name
                to reckon with in the Tollygunge music arena. The voice behind
                the hits, "Khola Hawa" and "Je Rate Mor", Somlata has made her
                mark with various forms and genres of music. So do join us for
                an evening to remember!
              </p>
              <p>Time : 7:30 pm Venue: Sports Complex Auditorium</p>
            </div>
          </div>
        </div>
        <div class="topDiv_music">
          <div class="topDiv_music_inner" id="reverse_div">
            <div class="topDiv_music_right">
              <div class="topDiv_music_right_heading">
                <div class="number01">08</div>
                <div class="heading_text">
                  <h1 class="topDiv_music_right_heading">অনন্যা চক্রবর্তী</h1>
                  <p style="margin-top: -1%">Ananya Chakraborty</p>
                </div>
              </div>

              <p class="gapsUnder_paragraph">
                Brace yourselves up for a heart enthralling musical evening with
                two great musicians and their melodious performances! We have
                with us Ananya Chakraborty, a very talented musician, songwriter
                and singer who has already been a part of Sa Re Ga Ma Pa 2021
                and has gained fame and popularity throughout the country.
              </p>
              <p>Time : 10:00 pm Venue: Sports Complex Auditorium</p>
            </div>
            <div class="topDiv_music_left">
              <div class="topDiv_music_left_imgBx">
                <img src="/img/events_page/Ananya.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End of Events-Main Div-->

    <!--Footer-->
    <%- include("partials/footer") %>
    <!--Footer-End-->

    <!-- NAVBAR MOBILE -->
    <script src="/js/navbar.js"></script>

    <!-- INDEX -->
    <script src="/js/index.js"></script>
  </body>
</html>
