<section class="navbar">
  <h1>Navbar</h1>
</section>

<section class="landing-animation"></section>

<section class="about">
  <h1 class="about_heading">About Us</h1>
  <br>
  <hr class="about_underline">
  <br><br><br><br><br>
  <div class="about_text_box">
    <p class="about_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem magni aperiam,
      architecto distinctio ut soluta in tempore obcaecati explicabo, sint dignissimos a!
      <br><br>
      Et laudantium eius neque voluptas nihil similique, minima earum modi? Repellendus cum neque repellat minus quia
      repudiandae eveniet eum
      recusandae omnis, dicta numquam doloribus asperiores rem quis.
    </p>
  </div>
</section>

<section class="magazine">
  <h1>Magazine</h1>
</section>

<section class="events">
  <h1>Events</h1>
</section>

<section class="artists">
  <h1>Artists</h1>
</section>

<section class="sponsors">
  <h1>Sponsors</h1>
</section>

<section class="footer">
  <h1>Footer</h1>
</section>