<section class="navbar">
  <!-- <img class="navbar-hover" src="/img/navbar/Navbar-Hover.svg" alt="Hover" /> -->
  <nav>
    <a href="#home">Home</a>
    <a href="#">Gallery</a>
    <a class="navbar-brand" href="/">
      <img src="/img/Oikyotaan Logo.svg" alt="" />
    </a>
    <a href="#events">Event</a>
    <a href="#">Team</a>
  </nav>
</section>

<section id="home" class="landing-animation"></section>

<section class="about">
  <h1 class="about_heading">About Us</h1>
  <br />
  <hr class="about_underline" />
  <br /><br /><br /><br /><br />
  <div class="about_text_box">
    <p class="about_text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem
      magni aperiam, architecto distinctio ut soluta in tempore obcaecati
      explicabo, sint dignissimos a! <br /><br />
      Et laudantium eius neque voluptas nihil similique, minima earum modi?
      Repellendus cum neque repellat minus quia repudiandae eveniet eum
      recusandae omnis, dicta numquam doloribus asperiores rem quis.
    </p>
  </div>
</section>

<section class="magazine">
  <h1>Magazine</h1>
</section>

<section id="events" class="events">
  <h1>Events</h1>
</section>

<section class="artists">
  <h1>Artists</h1>
</section>

<section class="sponsors">

  <!-- Outer designed margin -->
  <img class="sponsor-outer-left" src="/img/vertical.svg" alt="">
  <img class="sponsor-outer-right" src="/img/vertical.svg" alt="">

  <div class="sponsor-header">

    <!--Dholak images and "Our Sponsor"-->
    <div class="sponsor-header">
      <img class="sponsor-dholak floatLeft-sponsor-dholak" src="/img/dholak.svg" alt="" />
      <img class="sponsor-dholak floatRight-sponsor-dholak" src="/img/dholak.svg" alt="" />
      <h1 class="sponsors-h1 dholak-text">Our Sponsors</h1>
    </div>


  </div>





  <div class="sponsor-container">

    <!--Barak Outlet image-->
    <div class="sponsor-box">
      <div class="sponsor-components">
        <img class="sponsor-img" id="sponsor-img-1" src="/img/Outlet.jpg" alt="">
      </div>
      
      <!--Bulletin-->
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      
    </div>

    <!--Barak Bulletin image-->
    <div class="sponsor-box">
      <div class="sponsor-components">
        <img class="sponsor-img" id="sponsor-img-1" src="/img/Bulletin.jpg" alt="">
      </div>
      
      <!--Bulletin-->
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      <div class="sponsor-components">
        <img class="sponsor-image-border sponsor-image-border-1" src="/img/sponsors outline.svg" alt="">
      </div>
      
    </div>

</div>

  <div class="media-partner media-partner-outlet">
    <h3>Media Partner</h3>
  </div>

  <div class="media-partner media-partner-bulletin">
    <h3>Media Partner</h3>
  </div>

</section>

<section class="footer">
  <h1>Footer</h1>
</section>