<section class="navbar">
  <h1>Navbar</h1>
</section>

<section class="landing-animation">
  <h1>Landing Animation</h1>
</section>

<section class="about">
  <h1>About us</h1>
</section>

<section class="magazine">
  <h1>Magazine</h1>
</section>

<section class="events">
  <h1>Events</h1>
</section>

<section class="artists">
  <h1>Artists</h1>
</section>

<section class="sponsors">
  <h1>Sponsors</h1>
</section>

<section class="footer">
  <h1>Footer</h1>
</section>
