<section class="navbar">
  <!-- <img class="navbar-hover" src="/img/navbar/Navbar-Hover.svg" alt="Hover" /> -->
  <nav>
    <a href="#home">Home</a>
    <a href="#">Gallery</a>
    <a class="navbar-brand" href="/">
      <img src="/img/Oikyotaan Logo.svg" alt="" />
    </a>
    <a href="#events">Event</a>
    <a href="#">Team</a>
  </nav>
</section>

<section id="home" class="landing-animation"></section>

<section class="about">
  <h1 class="about_heading">About Us</h1>
  <br />
  <hr class="about_underline" />
  <br /><br /><br /><br /><br />
  <div class="about_text_box">
    <p class="about_text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem
      magni aperiam, architecto distinctio ut soluta in tempore obcaecati
      explicabo, sint dignissimos a! <br /><br />
      Et laudantium eius neque voluptas nihil similique, minima earum modi?
      Repellendus cum neque repellat minus quia repudiandae eveniet eum
      recusandae omnis, dicta numquam doloribus asperiores rem quis.
    </p>
  </div>
</section>

<section class="magazine">
  <h1>Magazine</h1>
</section>

<section id="events" class="events">
  <h1>Events</h1>
</section>

<section class="artists">
  <div class="artists-ui-card">
    <img src="img/ananya.jpeg" />
    <div class="artists-description">
      <h3>অনন্যা চক্রবর্তী</h3>
    </div>
  </div>
  <div class="artists-ui-card">
    <img src="img/aces.jpeg" />
    <div class="artists-description">
      <h3>SOMLATA AND THE ACES</h3>
    </div>
  </div>
</section>

<section class="sponsors">
  <h1>Sponsors</h1>
</section>

<section class="footer">
  <div class="footer-top">
    <img src="/img/footer/NIT logo white.svg" alt="NIT Silchar" />
    <img src="/img/footer/Oikyotaan ' 22 logo.svg" alt="Oikyotaan" />
  </div>
  <div class="footer-mid">
    <div class="footer-mid-left">
      <div>
        <img src="/img/footer/pin.svg" alt="Location" />
        <span> NIT Silchar, Silchar, Assam, India 788010 </span>
      </div>
      <div>
        <img src="/img/footer/phone-call.svg" alt="Call" />
        <span>09100700125</span>
      </div>
    </div>
    <div class="footer-mid-mid">
      <div>
        <img class="fb" src="/img/footer/facebook.svg" alt="Facebook" />
        <a class="fb" href="#">Facebook</a>
      </div>
      <div>
        <img src="img/footer/instagram.svg" alt="Instagram" />
        <a href="#">Instagram</a>
      </div>
    </div>
    <div class="footer-mid-right">
      <a href="#">
        <span>Get Directions</span>
        <img src="/img/footer/Arrow.svg" alt="Arrow" />
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    All Rights Reserved. &#169; Oikyotaan, NIT Silchar
  </div>
</section>
