<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oikyotaan 2022</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <!-- HOME PAGE STYLES -->
    <link rel="stylesheet" href="/css/home/landing.css" />
    <link rel="stylesheet" href="/css/home/about.css" />
    <link rel="stylesheet" href="/css/home/artists.css" />
    <link rel="stylesheet" href="/css/home/events.css" />
    <link rel="stylesheet" href="/css/home/magazine.css" />
    <link rel="stylesheet" href="/css/home/sponsors.css" />
    <link rel="stylesheet" href="/css/home/footer.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <%- include("./partials/navbar") %>

    <!-- MAIN CONTENT -->
    <main><%- body %></main>

    <script src="/js/index.js"></script>
  </body>
</html>
