<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/landing/ghot1.ico">
    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/css/event_main/events.css" /> -->
    <!-- <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" /> -->

    <link rel="stylesheet" href="/css/team/landing.css" />
    <link rel="stylesheet" href="/css/team/main.css" />

    <!-- SLIDER -->
    <link rel="stylesheet" href="/css/team/carousal.css" />

    <!-- FONTS -->
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet" />
    <link rel="stylesheet" href="/fornts/Unicode/Li-Shadhinata-2-Unicode.ttf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <title>Oikyotaan 2022</title>
  </head>
  <body>
    
    <button id="scrollToTop">
      <i class="fa fa-arrow-up"></i>
    </button>

    <section class="navbar"><%- include("partials/navbar") %></section>
    <!--------------- NAVBAR MOBILE --------------------->
    <section class="navbar-mobile">
      <%- include("partials/navbar-mobile") %>
    </section>

    <!-- TEAM LANDING PAGE -->

    <section class="team-landing">
      <img
        class="left-cloud"
        src="/img/landing/Left Big Cloud.svg"
        alt="Left Cloud"
      />
      <img
        class="right-cloud"
        src="/img/landing/Right Big Cloud.svg"
        alt="Right Cloud"
      />
      <img class="cloud" src="/img/landing/Bg Clouds.svg" alt="Clouds" />
      <img
        class="landing-bg"
        src="/img/team/Centre Building.svg"
        alt="Event page View BG"
      />
      <img class="mobile-design" src="/img/team/mobile-design.png" alt="Mobile Design">
      <div class="rectangle"></div>
      <h1 class="heading">Meet Our Web Team</h1>
      <img src="/img/team/design.png" alt="Design" class="design design-left" />
      <img
        src="/img/team/design.png"
        alt="Design"
        class="design design-right"
      />
    </section>

    <!-- TEAM LANDING PAGE END -->

    <!-- TEAM MAIN PAGE -->

    <section class="team-main">
      

      <!-- CAROUSAL STARTS HERE -->
      <!-- Web head -->
      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Web Heads</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-10">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/nabanita.png" />
                <div class="pic_img">
                  <p>Head</p>
                  <p>Nabanita Bania</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/team/profileImg/yash.png" />
                <div class="pic_img">
                  <p>Head</p>
                  <p>Yash Srivastava</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/yash.srivastava.731" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://instagram.com/yash.sr1vastava?igshid=YmMyMTA2M2Y=" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/yash-sri-vas-tava" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/subhra.png" />
                <div class="pic_img">
                  <p>Co Head</p>
                  <p>Subhra Sankha Sarma</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/profile.php?id=100011168774680" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/sssarma1999/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/subhra-sankha-sarma-8472b0184/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Web Member -->
      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Senior Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-11">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Pranjal.jpeg" />
                <div class="pic_img">
                  <p>Senior Developer</p>
                  <p>Pranjal Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/profile.php?id=100039996093582" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="http://instagram.com/_pranjal__das" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/pranjal-das-57a8a51b5" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/team/profileImg/Biley.png" />
                <div class="pic_img">
                  <p>Senior Developer</p>
                  <p>Biley roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/biley.roy.5" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/biley-roy-783595199/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.instagram.com/_roy06/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Sohan.png" />
                <div class="pic_img">
                  <p>UX/UI Developer</p>
                  <p>Sohan Paul</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/paulsohan2" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/paul__sohan/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/sohan-paul/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/team/profileImg/Gaurav.png" />
                <div class="pic_img">
                  <p>Senior Developer</p>
                  <p>Gaurav Bhattacharjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/profile.php?id=100010292470507" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/_15threads/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/grvb15" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Madhura.png" />
                <div class="pic_img">
                  <p>Senior Developer</p>
                  <p>Madhura Chatterjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/madhura.chatterjee.980" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://instagram.com/madhura_011?igshid=YmMyMTA2M2Y=" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/madhura-chatterjee-a225381b0" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Debojyoti.png" />
                <div class="pic_img">
                  <p>Senior Developer</p>
                  <p>Debojyoti Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/debojyoti.das.52206/" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/debojyotidas1915001/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Member -->
      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-16">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/team/profileImg/Jyotishka.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Jyotishka Bhattacharjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/profile.php?id=100005647038947" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/jyotishka007/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="">
                  <a href="https://github.com/jyotishka747" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Pratik.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Pratik Majumdar</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/itspratikmaj/" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/itspratikmaj/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/codadept/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/team/profileImg/Pronab.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Pronab Chandra Roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/royboy360" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/pr0_n_ab/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/pronab-ch-roy-3409091a0/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Abhinav.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Abhinav Ghosh</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/profile.php?id=100006867829068" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/abbhiinavvv/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/abhinav-ghosh-81137a1b8" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Aniket.png" />
                <div class="pic_img">
                  <p>UI/UX</p>
                  <p>Aniket Bose</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/aniket.bose.18041" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/aniketbose2/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="http://linkedin.com/in/aniket-bose-388083219" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Sayahnneeta.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Sayahnneeta Dutta</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://m.facebook.com/100004857528784/" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/_sayahnneeta_/?hl=en" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/mwlite/in/sayahnneeta-dutta-2b4525187" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/arunagshu.jpeg" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Arunangshu Roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://m.facebook.com/100008875051191/" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/arunangshu_77/?hl=en" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/arunangshu77?originalSubdomain=in" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/diya.jpeg" />
                <div class="pic_img">
                  <p>UI/UX</p>
                  <p>Diya Karmakar</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://m.facebook.com/100056052523407/" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="http://www.linkedin.com/in/diya-karmakar" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/team/profileImg/Abhranil.png" />
                <div class="pic_img">
                  <p>Developer</p>
                  <p>Abhranil Dey</p>
                </div>
                <div class="carousal-modal">
                  <a href="https://www.facebook.com/abhranil.dey.146" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="https://www.instagram.com/_abhranil_1033/" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="https://www.linkedin.com/in/abhranil-dey-684410204/" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!--Footer-->
    <%- include("partials/footer") %>
    <!--Footer-End-->

    <!-- NAVBAR MOBILE -->
    <script src="/js/navbar.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- INDEX -->
    <script src="/js/index.js"></script>
    <!-- CAROUSAL -->
    <script src="/js/script.js"></script>
  </body>
</html>
