<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/css/event_main/events.css" /> -->
    <!-- <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" /> -->

    <link rel="stylesheet" href="/css/team/landing.css" />
    <link rel="stylesheet" href="/css/team/main.css" />

    <!-- SLIDER -->
    <link rel="stylesheet" href="/css/team/carousal.css" />

    <!-- FONTS -->
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet" />
    <link rel="stylesheet" href="/fornts/Unicode/Li-Shadhinata-2-Unicode.ttf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <title>Team</title>
  </head>
  <body>

    <button id="scrollToTop">
      <i class="fa fa-arrow-up"></i>
    </button>

    <section class="navbar"><%- include("partials/navbar") %></section>
    <!--------------- NAVBAR MOBILE --------------------->
    <section class="navbar-mobile">
      <%- include("partials/navbar-mobile") %>
    </section>

    <!-- TEAM LANDING PAGE -->

    <section class="team-landing">
      <img
        class="left-cloud"
        src="/img/landing/Left Big Cloud.svg"
        alt="Left Cloud"
      />
      <img
        class="right-cloud"
        src="/img/landing/Right Big Cloud.svg"
        alt="Right Cloud"
      />
      <img class="cloud" src="/img/landing/Bg Clouds.svg" alt="Clouds" />
      <img
        class="landing-bg"
        src="/img/team/Centre Building.svg"
        alt="Event page View BG"
      />
      <img class="mobile-design" src="/img/team/mobile-design.png" alt="Mobile Design">
      <div class="rectangle"></div>
      <h1 class="heading">Meet our team</h1>
      <img src="/img/team/design.png" alt="Design" class="design design-left" />
      <img
        src="/img/team/design.png"
        alt="Design"
        class="design design-right"
      />
    </section>

    <!-- TEAM LANDING PAGE END -->

    <!-- TEAM MAIN PAGE -->

    <section class="team-main">
      <div class="patreon">
        <div class="heading">
          <h1>Patron</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/5.svg"
                alt="Design"
              />
            </div>
            <div class="profile-name">
              <span class="bengali-name">প্রফেসর শিবাজী বন্দোপাধ্যায়</span>
              <span class="english-name">Prof. Sivaji Bandopadhyay</span>
            </div>
          </div>
        </div>
      </div>

      <div class="advisor">
        <div class="heading">
          <h1>Advisor</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/ak (2).svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">এ.কে. বারভূইয়া</span>
              <span class="english-name">Prof. A.K. Barbhuiya</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/3.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ. প্রাণজিৎ বর্মন</span> 
              <span class="english-name">Dr. Pranjit Barman</span>
            </div>
          </div>
        </div>
      </div>
      <div class="president">
        <div class="heading">
          <h1>President</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/bk.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              
              <span class="bengali-name">বি কে রায়</span>
              <span class="english-name">B.K.Roy</span>
            </div>
          </div>
        </div>
      </div>
      <div class="vice-president">
        <div class="heading">
          <h1>Vice President</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/2.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">প্রফেসর কে.এল.বৈষ্ণব</span>
              <span class="english-name">Prof. K.L.Baishnav</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/7.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ মৌসুমী সেন</span>
              <span class="english-name">Dr. Mausami Sen</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/7.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">প্রফেসর এস.চৌধুরী</span>
              <span class="english-name">Prof. S. Choudhury</span>
            </div>
          </div>
        </div>
      </div>
      <div class="organising-secretary">
        <div class="heading">
          <h1>Organising Secretary</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/8.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ ওয়াসিম আরিফ</span>
              <span class="english-name">Dr. Wasim Arif</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/9.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ বিপ্লব দাস</span>
              <span class="english-name">Dr. Biplab Das</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/1.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ কৌশিক গুহ</span>
              <span class="english-name">Dr. Kaushik Guha</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/2.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ দুলাল চন্দ্র দাস</span>
              <span class="english-name">Dr. Dulal Chandra Das</span>
            </div>
          </div>
        </div>
      </div>

      <div class="cultural-secretary">
        <div class="heading">
          <h1>Cultural Secretary</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/3.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ সুদীপ্তা চক্রবর্তী</span>
              <span class="english-name">Dr. Sudipta Chakrabarty</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/4.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ শুভ্রজিৎ দত্ত</span>
              <span class="english-name">Dr. Shubhrajit Dutta</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/5.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ দেবজিৎ ভৌমিক</span>
              <span class="english-name"> Dr. Debjit Bhowmick</span>
            </div>
          </div>
        </div>
      </div>

      <div class="chief-treasurer">
        <div class="heading">
          <h1>Chief Treasurer</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img
                class="alpona"
                src="/img/team/profileImg/6.svg"
                alt="Design"
              />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">ডাঃ পল্লব দাস</span>
              <span class="english-name">Dr. Pallab Das</span>
            </div>
          </div>
        </div>
      </div>

      <!-- CAROUSAL STARTS HERE -->

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Convenor</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-1">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Sripali Roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Chief Coordinators</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-2">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Ayan Talukdar</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Arindam Das</p>    
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">3</span
                ><img src="/img/events/Donation.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Amartya Dey</p>         
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Treasurer</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-3">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Suman Bhowal</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Executive Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-4">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Taukir Hussain</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Deepjoy Dey</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">3</span
                ><img src="/img/events/Donation.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Swarupendranath Chakraborty</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Event Management Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-5">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Anwesha Chakrabarty</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Soumya Sen</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Infrastructure Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-6">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Pathikrit Chanda</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Subhadip Bhattacharjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Rohit Paul</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Kumardeep Paul</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Vivek Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Logistics Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-7">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Debanjan Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Abhishek Chanda</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Shuvrajit Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Rohit Deb</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Asis Kumar Roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Decorations Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-8">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Tanmoyee Sarkar</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Sumit Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Nirmita Biswas</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Angita Kar</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Abhinandan Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Anand Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Marketing Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-9">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Bishal Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Jabed Choudhury</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Kazi Sahariar Rahi</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Taukir Ahmed</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Bulbul Hussain</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Web Team Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-10">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Nabanita Bania</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Yash Srivastava</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Subhra Sankha Sarma</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Web Members</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-11">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Pranjal Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Biley roy</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Sohan Paul</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Gaurav Bhattacharjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Debojyoti Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Madhura Chatterjee</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Food Management Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-12">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Abhishek Chanda</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Sounak Das Gupta</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Debotash Nath</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Sanchayita Nandy</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Content Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-13">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Deepjoy Dey</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Nirmita Biswas</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>

      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Hospitality Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-14">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Deepjoy Dey</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Nirmita Biswas</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>


      <div class="team-members-list">
        <div class="heading">
          <div class="big-heading">Design Head</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
          <div class="slider-rotate" id="slider-team-15">
            <div class="slider-rotate__container">
              <!-- ITENS -->
              <div class="slider-rotate__item">
                <span class="position">1</span>
                <img src="/img/events/rally.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Suramya Das</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>
              <div class="slider-rotate__item">
                <span class="position">2</span
                ><img src="/img/events/Adda.png" />
                <div class="pic_img">
                  <p>Position here</p>
                  <p>Swarupendranath Chakrabarty</p>
                </div>
                <div class="carousal-modal">
                  <a href="#" class="icons">
                    <img src="/img/team/fb.svg" alt="Facebook" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/insta.svg" alt="Instagram" />
                  </a href="#">
                  <a href="#" class="icons">
                    <img src="/img/team/linkdn.svg" alt="LinkedIn" />
                  </a href="#">
                </div>
              </div>

              <!-- NAVIGATION -->
              <span
                class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
                data-action="next"
                ><i class="fa fa-arrow-right"></i
              ></span>
              <span
                class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
                data-action="prev"
                ><i class="fa fa-arrow-left"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <%- include("partials/footer") %>
    <!--Footer-End-->

    <!-- NAVBAR MOBILE -->
    <script src="/js/navbar.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- INDEX -->
    <script src="/js/index.js"></script>
    
    <!-- CAROUSAL -->
    <script src="/js/script.js"></script>
  </body>
</html>
