<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/css/event_main/events.css" /> -->
    <!-- <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" /> -->

    <link rel="stylesheet" href="/css/team/landing.css" />
    <link rel="stylesheet" href="/css/team/main.css" />

    <!-- FONTS -->
    <link href="http://fonts.cdnfonts.com/css/samarkan" rel="stylesheet" />
    <link rel="stylesheet" href="/fornts/Unicode/Li-Shadhinata-2-Unicode.ttf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />

    <title>Events</title>
  </head>
  <body>
    <section class="navbar"><%- include("partials/navbar") %></section>
    <!--------------- NAVBAR MOBILE --------------------->
    <section class="navbar-mobile">
      <%- include("partials/navbar-mobile") %>
    </section>

    <!-- TEAM LANDING PAGE -->

    <section class="team-landing">
      <img
        class="left-cloud"
        src="/img/landing/Left Big Cloud.svg"
        alt="Left Cloud"
      />
      <img
        class="right-cloud"
        src="/img/landing/Right Big Cloud.svg"
        alt="Right Cloud"
      />
      <img class="cloud" src="/img/landing/Bg Clouds.svg" alt="Clouds" />
      <img
        class="landing-bg"
        src="/img/team/Centre Building.svg"
        alt="Event page View BG"
      />
      <div class="rectangle"></div>
      <h1 class="heading">Meet our team</h1>
      <img src="/img/team/design.png" alt="Design" class="design design-left" />
      <img
        src="/img/team/design.png"
        alt="Design"
        class="design design-right"
      />
    </section>

    <!-- TEAM LANDING PAGE END -->

    <!-- TEAM MAIN PAGE -->

    <section class="team-main">
      <div class="patreon">
        <div class="heading">
          <h1>Patreon</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="advisor">
        <div class="heading">
          <h1>Advisor</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="president">
        <div class="heading">
          <h1>President</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="vice-president">
        <div class="heading">
          <h1>Vice President</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="organising-secretary">
        <div class="heading">
          <h1>Organising Secretary</h1>
          <img src="/img/team/underline.png" alt="Underline" />
        </div>
        <div class="profile-section">
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
          <div class="profile">
            <div class="profile-img">
              <img src="/img/team/Team member alpona.svg" alt="Design" />
              <!-- <img
                src="/img/team/profileImg/Prof Sivaji Bandopadhaya.png"
                alt="Prof Sivaji Bandopadhaya"
              /> -->
            </div>
            <div class="profile-name">
              <span class="bengali-name">bengali name here</span>
              <span class="english-name">ENGLISH NAME HERE</span>
            </div>
          </div>
        </div>
      </div>

      <div class="chief-coordinators">
        <div class="heading">
          <div class="big-heading">Chief Coordinators</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
        </div>
      </div>

      <div class="chief-coordinators">
        <div class="heading">
          <div class="big-heading">Chief Coordinators</div>
          <div class="small-heading">Members</div>
        </div>
        <div class="carousal">
          <!-- ADD CAROUSAL CODE HERE -->
        </div>
      </div>
    </section>

    <!--Footer-->
    <%- include("partials/footer") %>
    <!--Footer-End-->

    <!-- NAVBAR MOBILE -->
    <script src="/js/navbar.js"></script>
  </body>
</html>
