.footer {
  font-family: century-gothic, sans-serif;
  background-image: url("../img/footer/Footer BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .footer-top {
  width: 75%;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .NIT_logo {
  max-width: 8rem;
}
.footer .footer-top .Oikyotan_logo {
  max-width: 17rem;
}
.footer .footer-mid {
  display: flex;
  margin-top: -38px;
  width: 100%;
}

.footer .footer-mid .footer-mid-left {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 45%;
  color: white;
}

.footer .footer-mid .footer-mid-left .icon {
  max-width: 32px;
}
.footer .footer-mid .footer-mid-mid .icon {
  max-width: 40px;
}
.footer .footer-mid .footer-mid-left div,
.footer .footer-mid .footer-mid-mid div {
  display: flex;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  align-items: center;
}

.footer .footer-mid .footer-mid-left div img {
  padding-right: 1rem;
}

.footer .footer-mid .footer-mid-mid {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 25%;
  color: white;
}

.footer .footer-mid .footer-mid-mid div img {
  padding-right: 1rem;
}

.footer .footer-mid .footer-mid-right {
  position: relative;
}

.footer .footer-mid .footer-mid-right a {
  background-color: rgba(10, 7, 7, 0.689);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
}
.footer .footer-mid .footer-mid-right a {
  width: 204px;
  padding: 8px 15px;
  font-size: 1rem;
}

.footer .footer-mid .footer-mid-right a span {
  padding-right: 1.2rem;
}
.footer .footer-mid .footer-mid-right a .direction {
  padding: 0;
  margin: 0;
  max-width: 32px;
}
.footer .footer-bottom {
  height: 10vh;
  font-size: 1.1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #350109;
}
/*********************Media Queries****************************/
.footerMobile {
  font-family: century-gothic, sans-serif;
  background-image: url("../img/footer/Footer BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.footerMobile {
  text-align: center;
  color: white;
}
.NIT_logo {
  max-width: 5rem;
  margin: 1rem;
}
.icon {
  max-width: 1rem;
  margin-right: 4%;
}
span {
}
.Oikyotan_logo {
  max-width: 13rem;
}
.inline_text_of_mobile_footer {
  display: inline;
}
.footer-bottom {
  height: 10vh;
  font-size: 1.1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #350109;
  padding: 2rem 4rem;
}
.footerMobile_topdiv {
  padding: 3rem 3rem;
}
.footerMobile_bottomdiv {
  padding: 3rem 3rem;
}
@media only screen and (max-width: 450px) {
  .footer {
    display: none;
  }
  .footerMobile {
    display: block;
  }
  /* .footer .footer-top {
    width: 100%;
    padding: 2rem 1rem;
  }
  .footer .footer-top .NIT_logo {
    max-width: 5rem;
  }
  .footer .footer-top .Oikyotan_logo {
    max-width: 13rem;
  }
  .footer .footer-mid {
    margin-top: -50px;
  }
  .footer .footer-mid .footer-mid-left {
    padding: 2rem 4rem;
  } */
}