* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar */

html,body {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}

main {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

main section:nth-of-type(even) {
  background-color: rgb(165, 135, 135);
}

main section {
  scroll-snap-align: start;
  position: relative;
}
