/***Custom Fonts****/
@font-face {
  font-family: "Li Shadhinata";
  src: url("../fornts/ANSI-V1/Li-Shadhinata-2-ANSI-V1-Italic.ttf");
  src: url("../fornts/ANSI-V1/Li-Shadhinata-2-ANSI-V1.ttf");
  src: url("../fornts/ANSI-V2/Li-Shadhinata-2-ANSI-V2-Italic.ttf");
  src: url("../fornts/ANSI-V2/Li-Shadhinata-2-ANSI-V2.ttf");
  src: url("../fornts/Unicode/Li-Shadhinata-2-Unicode-Italic.ttf");
  src: url("../fornts/Unicode/Li-Shadhinata-2-Unicode.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar */

html,
body {
  font-family: "Berkshire Swash", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

/* CSS Reset */

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

main section {
  position: relative;
}
