.navbar{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  font-family: "Berkshire Swash", sans-serif;
  /* display:none; */
}

.navbar nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav a{
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.navbar nav img{
  width: 150px;
  margin-top: -1rem;
}

.navbar nav a:hover,
.navbar nav a.active{
  background-image: url("/img/navbar/Navbar-Hover.svg"); 
  background-size: 70px;
  background-position: 26px 2px;
  background-repeat: no-repeat;
}
 
.navbar nav a.navbar-brand:hover,
.navbar nav a.navbar-brand:focus,
.navbar nav a.navbar-brand:active{
  background: none;
}

.navbar-mobile{
  position: relative;
  display: none;
  font-family: "Berkshire Swash", sans-serif;
}

.navbar-mobile .navbar-mobile-brand{
  position: absolute;
  z-index: 10;
  width: 25%;
  margin: 1rem 1.2rem;
}

.navbar-mobile .navbar-mobile-brand img{
  width: 100%;
}

.navbar-mobile .navbar-mobile-hamburger{
  position: absolute;
  z-index: 1;
  right: 0%;
  margin: 2.1rem 2rem;
  z-index: 9989;
}

.navbar-mobile .navbar-mobile-hamburger div{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.navbar-mobile .navbar-mobile-modal{
  position: absolute;
  right: -55%;
  top: 0;
  z-index: 9999;
  background-color: #52021f;
  color: white;
  width: 55%;
  height: 100vh;
  transition: all 0.6s;
}

.navbar-mobile .navbar-mobile-modal.showModal{
  right: 0;
  transition: all 0.6s;
}

.navbar-mobile .navbar-mobile-modal .navbar-mobile-cross{
  position: absolute;
  right: 0;
  font-size: 3rem;
  margin-right: 1rem;
}

.navbar-mobile .navbar-mobile-modal .navbar-mobile-links{
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}

.navbar-mobile .navbar-mobile-modal .navbar-mobile-links .navbar-mobile-navlinks{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.preloader_lottie {
  background-position: center center;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1111111111111111111111111111111111111111111111;
}
@media screen and (max-width:768px) {
  .navbar{
    display: none;
  }
  .navbar-mobile{
    display: block;
  }
  .preloader_lottie {
    background-position: 10% 50%;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: -33%;
    z-index: 1111111111111111111111111111111111111111111111;
  }
}


#scrollToTop{
  position: fixed;
  right: 1%;
  bottom: 1%;
  padding: 2rem;
  z-index: 10000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  outline:none;
  border: none;
  cursor: pointer;
}
