.artists {
  font-size: 26px;
  padding-top: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background: url("../../img/Background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
hr {
  position: absolute;
  display: block;
  height: 1px;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 3px;
  width: 30%;
  margin-top: 1rem;
  margin-left: 6rem;
}
#artists-swastik-1 {
  position: absolute;
  top: -1rem;
  left: 19rem;
  z-index: -1;
  height: 19vh;
}
#artists-swastik-2 {
  height: 19vh;
  position: absolute;
  top: -1rem;
  right: 19rem;
  z-index: -1;
}
h1 {
  color: yellow;
  text-align: center;
  position: absolute;
  display: inline-block;
  left: auto;
  top: 17%;
  z-index: 0;
}
.artists .artists-box .artists-ui-card {
  width: 400px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 2s;
}
.artists .artists-box .artists-ui-card .artist-image {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.artists .artists-box .artists-ui-card:hover {
  transform: scale(1.3);
}
.artists .artists-box h3 {
  color: yellow;
  text-align: center;
  position: relative;
  bottom: 19px;
}
