.artists {
  height: 100vh;
  background: url("../../img/Artist/Background\ Artist.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.swas-artist{
  position: absolute;
  width:400px;
  top:-20%;
  left:-10%;
  animation-name: rotation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.swas-artist2{
  position: absolute;
  width:400px;
  top:-20%;
  right:-10%;
  animation-name: rotation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.swas-artist3{
  position: absolute;
  width:400px;
  bottom:-20%;
  left:-10%;
  animation-name: rotation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.swas-artist4{
  position: absolute;
  width:400px;
  bottom:-20%;
  right:-10%;
  animation-name: rotation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.artist-head {
  width: 100%;
  display: flex;
  padding-top: 5%;
  padding-left: 30%;
  height: 20%;
  margin-left: 5%;
}

.artist-head #head {
  color: yellow;
  font-size: xx-large;
  margin-top: 4%;
}
#artists-swastik-1 {
  height: 100px;
  width: 200px;
}
#artists-swastik-2 {
  height: 100px;
  width: 200px;
}
.artist-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* .artists .artists-box .artists-ui-card {
  width: 400px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 2s;
}
.artists .artists-box .artists-ui-card .artist-image {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.artists .artists-box .artists-ui-card:hover {
  transform: scale(1.3);
}
.artists .artists-box h3 {
  color: yellow;
  text-align: center;
  position: relative;
  bottom: 19px;
} */
 
.card {
  
  /* display: flex;
  flex-direction: column; */
  transform: translate(-5%,-40%);
  width: 350px;
  height: 350px;
  background: #000;
  
}
.card .image {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.card .image img {
  width: 100%;
  height: 100%;
  transition: transform .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: scale(1.25);
}
.card .details {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: .5s;
  transform-origin: center;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {

  color: #fff;
}

.card .details .center p {

  color: #fff;
}

.card h3 {
  font-size: 20px;
  color: yellow;
  text-align: center;
  position: relative;
  bottom: 30px;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .artists {
    height: 100vh;
    position: relative;
    background-size: auto;
  }
  .artist-head {
    margin-top: 25%;
    margin-left: -10%;
    margin-bottom: -10%;
    transform: scale(0.9,0.9);
  }
  .artist-head #head {
    margin-top: 17%;
  }

  .artist-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1.60rem;
    transform: scale(0.75, 0.75);
  }
  .swas-artist, .swas-artist2, .swas-artist3, .swas-artist4 {
    width: 50%;
  }

  .swas-artist, .swas-artist2 {
    margin-top: 20%;
  }

  .swas-artist3, .swas-artist4 {
    margin-bottom: 15%;
  }

  /* .swas-artist {
    margin-left: -20%;
  } */
}