#events{
    height: 130vh;
}


.events {
    width: 100%;
    height: auto;
    background-color: rgb(112, 33, 33);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 99;
}

.events-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.events-section-1-img {
    width: 100%;
    height: 80%;
}
.events-section-1-text {
    font-family: sans-serif;
    padding-left: 4rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    color: #f7e28f;
    padding-right: 4rem;
    margin-right: 4rem;
    background-color: rgb(112, 33, 33);
    z-index: 12;
    height: auto;
}

.events-text-heading {
    font-size: 3rem;
    padding-bottom: 2rem;
    margin-top: 0.8rem;
    letter-spacing: 0.1rem;
}

.events-text-heading:after {
    content: "";
    position: absolute;
    width: 8rem;
    height: 0.2rem;
    box-shadow: inset 0px 0px 100px #f7e28f;
    top: 30%;
    left: 18%;
}

.circle-1 {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 30%;
}

.circle-2 {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 40%;
    margin-top: 3%;
}

.events-section-1 {
    /* width: 65%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    background-color: rgb(112, 33, 33);
    width: 50%;
}

.events-section-2 {
    /* margin-left: 40rem; */
    z-index: 999;
    width: 50%;
}

.slider-rotate__arrow i {
    font-size: 46px;
}

.position {
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    display: none;
}

.lft-portion {
    float: left;
}

.slider-rotate {
    /* margin: 30rem auto; */
    width: 600px;
    overflow: hidden;
    float: right;
}

.slider-rotate__container {
    /* position: relative; */
    width: 50rem;
    height: 30rem;
    /* visibility: hidden; */
    margin: 0 auto;
    float: right;
    margin-left: 8rem;
}

.slider-rotate__item {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin-left: 6rem;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -moz-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -o-transform: translateY(-50%) translateX(-50%) scale(0.8);
    transform: translateY(-50%) translateX(-50%) scale(0.8);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.slider-rotate__item img {
    height: 450px;
    width: 450px;
}

.slider-rotate__item.slider-rotate__item--next {
    left: 70%;
}

.slider-rotate__item.slider-rotate__item--prev {
    left: 26%;
}

.slider-rotate__item.slider-rotate__item--prev,
.slider-rotate__item.slider-rotate__item--next {
    opacity: 0.8;
    z-index: 3;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}

.slider-rotate__item.slider-rotate__item--next-2 {
    left: 80%;
}

.slider-rotate__item.slider-rotate__item--prev-2 {
    left: 10%;
}

.slider-rotate__item.slider-rotate__item--next-2,
.slider-rotate__item.slider-rotate__item--prev-2 {
    opacity: 0.4;
    z-index: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.3);
    -moz-transform: translateY(-50%) translateX(-50%) scale(0.3);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.3);
    -o-transform: translateY(-50%) translateX(-50%) scale(0.3);
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}

.slider-rotate__item.slider-rotate__item--active {
    z-index: 2;
    opacity: 1;
    z-index: 5;
    top: 50%;
    left: 53%;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
}

.slider-rotate__container .slider-rotate__arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90%;
    cursor: pointer;
    color: rgb(173, 150, 18);
}

.slider-rotate__container .slider-rotate__arrow:hover i {
    color: #eaee85;
}

.slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--left {
    left: 40%;
}

.slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--right {
    right: 40%;
}

.fa-arrow-left:before {
    left: 50%;
}

.pic_img {
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin-top: -1rem;
    -webkit-text-stroke-width: 0.14rem;
    color: #f7e28f;
    text-shadow: 2px 2px #111;
}

.events-background {
    /* position: relative;
    top: 50rem; */
    z-index: 999;
}

@media only screen and (max-width: 1400px) {
    .events-text-heading:after {
        display: none;
    }
}