.magazine {
  background-image: url("./bgimg/magazine_background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 180vh;
  font-family: "Li Shadhinata";
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  text-align: center;
}

.magazine .magazine_heading {
  font-size: 5em;
  text-align: center;
  margin-top: -2.5rem; /**/
  color: #9d053c;
  margin-bottom: 5rem;
}

/***Magazine Center heading design****/
.magazine .magazine_center_heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12rem;
  letter-spacing: 2rem;
  color: #f14516;
  opacity: 12%;
  font-family: sans-serif;
  font-weight: lighter;
  z-index: -10000;
}

/***Magazine Button*/
.magazine_button {
  margin: 3rem 0 0;
  bottom: 100px;
  position: absolute;
}
.magazine_button a {
  text-decoration: none;
}
.magazine_button .magazine_btn_link {
  padding: 0.75rem 1.5rem;
  background-color: #a0053d;
  border-radius: 5px;
  color: #f5e181;
  transition: 0.1s;
}
.magazine_button .magazine_btn_link:hover {
  color: #a0053d;
  background: #fef8ed;
  border: 1px solid #a0053d;
  overflow: hidden;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
  width: 100%;
  margin-left: -16%;
}

.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
  margin-left: 25%;
}

.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.flipbook {
  margin-top: 100px;
  height: 70%;
  transition: margin-left 0.25s ease-out;
  width: 90%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flipbook .page {
  height: 100%;
  width: 100%;
}

.flipbook .page img {
  max-width: 100%;
  height: 100%;
}

/*******************************Mobile Viewport******************************************/
@media only screen and (max-width: 450px) {
  .magazine {
    height: 117vh;
  }
  /* .wrapper {
    align-items: center;
    margin-left:0%;
  }
  .aspect {
    padding-bottom: 0%;
    margin-left: 0%;
  }
  .flipbook {
    height: 100%;
    width: 100%;
  } */
  .magazine .magazine_center_heading {
    top: 50%;
    font-size: 4rem;
    letter-spacing: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .magazine {
    background-image: url("./bgimg/About_us_responsive_bg.png");
  }
  .magazine .magazine_heading {
    margin-top: -9.5rem;
  }
  .magazine {
    height: 77vh;
    overflow: hidden;
  }
  .magazine_button {
    bottom: 40px;
  }
  .magazine .magazine_heading {
    font-size: 4em;
  }
  .aspect {
    height: 70%;
  }
  .magazine .magazine_heading {
    margin-top: 38px;
    margin-bottom: 2rem;
  }
  .flipbook {
    margin-top: 0px;
  }
  .magazine_button {
    position: absolute;
    margin: 0 0;
  }
  .magazine_button .magazine_btn_link {
    padding: 0.5rem 1rem;
    font-size: 15px;
  }
}
