.sponsors {
  height: 130vh; 
  background-image: url("../../img/Sponsor/bg.svg");
  border:30px solid red;
  text-align: center;
  /* font-size: 26px; */
}


.sponsor-img{
    width:180px;
    height:180px;   
    /* margin-bottom: -3px; */
    position: absolute;
    padding-bottom: 0;
    border:6px solid red;
    border-image: url("../../img/Sponsor/vertical.svg"); 
    /* border-image-source: url(/Outline\ design.svg); */
}
  .sponsor-head {
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-left: 25%;
    height: 20%;
  }
.sponsor-amul{
    position: absolute;
    width:240px;
    height:240px;
    left:0;
}
.dholak-text {
  font-size: 50px;
  color:maroon;
} 
.dholak-text2 {
  margin-top:30%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color:maroon;
} 
#sponsor-swastik-1 {
  height: 100px;
  width: 200px;
}
#sponsor-swastik-2 {
  height: 100px;
  width: 200px;
  transform: scaleX(-1);
}
.sponsor-components
{
  transform: translate(-5%,-70%);
}
  
.sponsor-outer-left{
  margin-left: 40px;
  float:left;
  height:70%;
}
 
.sponsor-outer-right{
  margin-right: 40px;
  float:right;
  height:70%;
  transform: scaleX(-1);
}
.sponsor-box{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.sponsar-card{
  transform: translate(-5%,-70%);
  width:250px;
  height:250px;
}
.media-card{
  width:250px;
  height:50px;
  margin-left: 4%;
}
.media-card img{
  width:200px;
  height: 50px;
  position:absolute;
  display: flex;
  justify-content: center;
}
.partners-box{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
 justify-content: center;
}
.sponsor-image-border{
  position:absolute; 
  width:250px;
  height:250px;
}

.sponsor-image-border-1a{
  position: absolute;
  left:1%;
  top: 9rem;
  transform: scaleY(-1);
}

.sponsor-image-border-2a{
  position: absolute;
  left:-8rem;
  top: 0;
  transform: rotate(270deg);
}

.sponsor-image-border-3a{
  position: absolute;
  left:9rem;
  top: 0;
  transform: rotate(90deg);
}

.sponsor-image-border-4a{
  position: absolute;
  top: -9rem;
  left:1rem;
} 

/*media partner */

/* .media-partner{
  width:150px;
  height:50px;
  border-radius: 5px;
  position: absolute;
  background-color: maroon;
  color:white;
  padding-top: 12px;
}

.media-partner-outlet{
    bottom:15%;
    left:32.5%
}

.media-partner-bulletin{
  bottom:15%;
  left:57.5%
}


h3{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 12px;
  font-size: "3";
} */



